<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.papyrus.designer.languages.common.extensionpoints.languageCodegen">
		<generator
			id="Simple Rust"
			class="org.eclipse.papyrus.designer.rust.codegen.SimpleRustLangCodegen"
			language="Rust">
		</generator>
	</extension>
</plugin>
